---
layout: pages
permalink: /Contacto.html
---
<div class="lowpoly">
  <h1 class="text-white center bold">Contacto</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div>
        <img class="logo" src="{{site.url}}{{site.baseurl}}/assets/logos/phone.svg" alt="phone">
        <p class="bold">Teléfono</p>
        <a href="tel:+34983291881">(+34) 983 29 18 81</a>
      </div>
      <br>
      <div>
        <img class="logo" src="{{site.url}}{{site.baseurl}}/assets/logos/fax.svg" alt="fax">
        <p class="bold">FAX</p>
        <a href="fax:+34983666332">(+34) 983 666 332</a>
      </div>
      <br>
      <div>
        <img class="logo" src="{{site.url}}{{site.baseurl}}/assets/logos/mail.svg" alt="mail">
        <p class="bold">Administración Calidad y RR.HH.</p>
        <a href="mailto:bsalgado@fugoroba.es">bsalgado@fugoroba.es</a>
      </div>
      <br>
      <div>
        <img class="logo" src="{{site.url}}{{site.baseurl}}/assets/logos/mail.svg" alt="mail">
        <p class="bold">M.A.</p>
        <a href="mailto:ggomez@fugoroba.es">ggomez@fugoroba.es</a>
      </div>
      <br>
      <div>
        <img class="logo" src="{{site.url}}{{site.baseurl}}/assets/logos/mail.svg" alt="mail">
        <p class="bold">Dirección</p>
        <a href="mailto:ggomez@fugoroba.es">jifuentes@fugoroba.es</a>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <address>
        <div>
          <img class="logo" src="{{site.url}}{{site.baseurl}}/assets/logos/placeholder.svg" alt="placeholder">
          <p class="bold">Ubicación</p>
          <p>Calle Turquesa, 35, 47012 Valladolid</p>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11929.676716944969!2d-4.6997084!3d41.62507!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8cf7fe2147fdd3c7!2sFugoroba+Instalaciones+Y+Servicios+S+L!5e0!3m2!1ses!2sbe!4v1552923173011" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </address>
    </div>
  </div>
  <div class="row">
    <h2 class="text-black">Formulario de contacto</h2>
    {% include form.html %}
    <br>
    {% include validation.html %}
  </div>
</div>
