<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#2D2F3B",
      "text": "#FFFFFF"
    },
    "button": {
      "background": "#008BD2"
    }
  },
  "theme": "classic",
  "content": {
    "message": "Utilizamos cookies de terceros para generar estadísticas de audiencia. Si sigues navegando estarás aceptando su uso.",
    "dismiss": "X",
    "link": "Más información",
    "href": "{{site.url}}{{site.baseurl}}/Cookies"
  }
})});
</script>
