<div class="navbar" id="mynavbar">
  <a class="logo-navbar" href="{{site.url}}{{site.baseurl}}/">
    <img src="{{site.url}}{{site.baseurl}}/assets/logos/logo-navbar.svg" height="56px" alt="logo">
  </a>
  <a class="right blak" href="{{site.url}}{{site.baseurl}}/Productos">Productos</a>
  <a class="right blak" href="{{site.url}}{{site.baseurl}}/Sectores de Actividad">Sectores de Actividad</a>
  <a class="right blak" href="{{site.url}}{{site.baseurl}}/Calidad y Medioambiente">Calidad y Medioambiente</a>
  <a class="right withe contacto" href="{{site.url}}{{site.baseurl}}/Contacto">Contacto</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <img src="{{site.url}}{{site.baseurl}}/assets/logos/menu.svg" height="44px" alt="logo">
  </a>
</div>

<script>
function myFunction() {
    var x = document.getElementById("mynavbar");
    if (x.className === "navbar") {
        x.className += " responsive";
    } else {
        x.className = "navbar";
    }
}
</script>
