.primary {background-color: $primary}
.secondary {background-color: $secondary}
.dark {background-color: $dark}
.light {background-color: $light}
.lighter {background-color: $lighter}
.white {background-color: $white}
.success {background-color: $success}
.warning{background-color: $warning}
.info {background-color: $info}
.danger {background-color: $danger}
.hover {background-color: $hover}

.sharp {border-radius: 0px;}
.b4px {border-radius: 4px;}
.b8px {border-radius: 8px;}
.b100px {border-radius: 100px;}

.btn {padding: 16px 24px;}
.btn-sm {padding: 10px 20px;}
