.jumbo{
  font-family: ArialMT;
  font-size: 60px;
  line-height: 67px;
}

h1{
  font-family: ArialMT;
  font-size: 45px;
  line-height: 51px;
}

h2{
  font-family: ArialMT;
  font-size: 34px;
  line-height: 38px;
}

h3{
  font-family: ArialMT;
  font-size: 26px;
  line-height: 30px;
}

h4 {
  font-family: ArialMT;
  font-size: 20px;
  line-height: 22px;
}

p {
  font-family: ArialMT;
  font-size: 16px;
  line-height: 24px;
}

a {
  font-family: ArialMT;
  font-size: 16px;
  line-height: 24px;
}

label {
  font-family: ArialMT;
  font-size: 13px;
  line-height: 15px;
}

.blak {color: #000000;}
.center {text-align: center;}
.bold {font-family: Arial-BoldMT;}
.withe {color: #FFFFFF;}
